@model Garage.Models.VehicleType

@{
    ViewBag.Title = "Ta bort fordonstyp";
}

<h2>@ViewBag.Title</h2>

<h3>Vill du verkligen ta bort den?</h3>

<div>
    <hr style="border-color:darkblue; background-color:darkblue;"/>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfVehicle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfVehicle)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-danger" /> |
            @Html.ActionLink("Tillbaka till fordonstyplistan", "Index", null, new { title = "Klicka"})
        </div>
    }
</div>
