@model Garage.Models.VehicleType

@{
    Garage.Models.Vehicle vehicle = Model.Vehicles.Where(v => v.Id == Model.Id).FirstOrDefault();
    ViewBag.Title = "Ändra fordonstyp";
}

<h2>
    @ViewBag.Title för fordonet<br />
    med regnummer @Html.ActionLink(vehicle.RegNumber, "Details", "Vehicles", new { id = Model.Id }, new { title = "Detaljer" })
</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.TypeOfVehicle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TypeOfVehicle, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeOfVehicle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara ändring" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="hidden-print">
    @Html.ActionLink("Till fordonstyplistan", "Index", null, new { title = "Klicka"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
