@model Garage.Models.Member

@{
    ViewBag.Title = "Medlemsdetaljer för "+ Model.Membershipnumber;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr style="border-color:darkblue; background-color:darkblue;"/>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.ActionLink(linkText: Model.Name, actionName: "Index", controllerName: "Vehicles", routeValues: new { memberId = Model.Id }, htmlAttributes: new { title = "Alla fordon tillhörande " + Model.Name })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membershipnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membershipnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
  
@if (Model.Vehicles.Count() > 0)
{
            <dt>
                @Html.DisplayNameFor(model => model.Vehicles)
            </dt>
}

@if (Model.Vehicles.Count() > 0)
{
            <dd>
                @Model.Vehicles.Count() <text>st. med fordonstyp och regnummer: </text><br />
                @using Garage.Models
                @{  
                    var orderedVehicles = Model.Vehicles.OrderBy(v => v.VehicleType.TypeOfVehicle);
                    foreach (var vehicle in orderedVehicles)
                    {
                        if (vehicle.VehicleType.TypeOfVehicle == TypeOfVehicle.Car)
                        {
                            <text>Bil </text>
                        }
                        else if (vehicle.VehicleType.TypeOfVehicle == TypeOfVehicle.Bus)
                        {
                            <text>Buss </text>
                        }
                        else if (vehicle.VehicleType.TypeOfVehicle == TypeOfVehicle.Boat)
                        {
                            <text>B&aring;t </text>
                        }
                        else if (vehicle.VehicleType.TypeOfVehicle == TypeOfVehicle.Airplane)
                        {
                            <text>Flygplan </text>

                        }
                        else if (vehicle.VehicleType.TypeOfVehicle == TypeOfVehicle.Motorcycle)
                        {
                            <text>Motorcykel </text>
                        }

                        @Html.ActionLink(linkText: vehicle.RegNumber, actionName: "Details", controllerName: "Vehicles", routeValues: new { id = vehicle.Id }, htmlAttributes: new { title = "Fordonsdetaljer"} ) <br />
                    }
                }
            </dd>
}
    </dl>
</div>
<p class="hidden-print">
    @Html.ActionLink("Ändra medlemsdata", "Edit", new { id = Model.Id }, new { title = "för " + Model.Membershipnumber }) |
    @Html.ActionLink("Till medlemsregistret", "Index", null, new { title = "Klicka" }) |
    @Html.ActionLink(linkText: "Parkera fordon", actionName: "Park", controllerName: "Vehicles", routeValues: new { memberId = Model.Id }, htmlAttributes: new { title = "tillhörande medlem " + Model.Membershipnumber })
</p>
