@model IEnumerable<Garage.Models.Vehicle>

@{
    ViewBag.Title = ViewBag.NoOfParkedVehicles + " " + Html.Raw(ViewBag.Fordon) + " i garaget";
}

<h2>
    @if (!string.IsNullOrEmpty(ViewBag.MemberName))
    {
        string memberName = ViewBag.MemberName;
        @Html.ActionLink(memberName, "Details", "Members", new { Id = ViewBag.MemberId }, new { title = "Detaljerna för " + memberName }); <text> har </text>
    }
    @ViewBag.Title
</h2>

@if (!string.IsNullOrEmpty(ViewBag.MemberName))
{
<p class="hidden-print">
    @if (ViewBag.Fordon.StartsWith("bil"))
    {
        @Html.ActionLink("Parkera ny bil i garaget", "Park", new { memberId = ViewBag.MemberId, typeOfVehicle = "Car" }, htmlAttributes: new { title = "tillhörande " + ViewBag.MemberName });
    }
    else if (ViewBag.Fordon.StartsWith("buss"))
    {
        @Html.ActionLink("Parkera ny buss i garaget", "Park", new { memberId = ViewBag.MemberId, typeOfVehicle = "Bus" }, htmlAttributes: new { title = "tillhörande " + ViewBag.MemberName });
    }
    else if (ViewBag.Fordon.StartsWith("b&aring;t"))
    {
        @Html.ActionLink("Parkera ny båt i garaget", "Park", new { memberId = ViewBag.MemberId, typeOfVehicle = "Boat" }, htmlAttributes: new { title = "tillhörande " + ViewBag.MemberName });
    }
    else if (ViewBag.Fordon.StartsWith("flygplan"))
    {
        @Html.ActionLink("Parkera nytt flygplan i garaget", "Park", new { memberId = ViewBag.MemberId, typeOfVehicle = "Airplane" }, htmlAttributes: new { title = "tillhörande " + ViewBag.MemberName });
    }
    else if (ViewBag.Fordon.StartsWith("motorcyk"))
    {
        @Html.ActionLink("Parkera ny motorcykel i garaget", "Park", new { memberId = ViewBag.MemberId, typeOfVehicle = "Motorcycle" }, htmlAttributes: new { title = "tillhörande " + ViewBag.MemberName });
    }
    else
    {
        @Html.ActionLink("Parkera nytt fordon i garaget", "Park", new { memberId = ViewBag.MemberId }, htmlAttributes: new { title = "tillhörande " + ViewBag.MemberName });
    }
</p>
}

<div class="hidden-print">
    <form method="GET" action="/Vehicles/DetailedIndex" class="hidden-print">
        <input type="submit" value="Sök" class="btn btn-default"/> registreringsnummer som börjar på @Html.TextBox("SearchNumberPlate") på
        <select name="typeOfVehicle">
            <option selected="@ViewBag.TypeOfVehicle.Equals(String.Empty)" value="">alla fordon</option>
            <option selected="@ViewBag.TypeOfVehicle.Equals("Car")" value="Car">bilar</option>
            <option selected="@ViewBag.TypeOfVehicle.Equals("Bus")" value="Bus">bussar</option>
            <option selected="@ViewBag.TypeOfVehicle.Equals("Boat")" value="Boat">båtar</option>
            <option selected="@ViewBag.TypeOfVehicle.Equals("Airplane")" value="Airplane">flygplan</option>
            <option selected="@ViewBag.TypeOfVehicle.Equals("Motorcycle")" value="Motorcycle">motorcyklar</option>
        </select> i garaget.
        @*<input name="memberId" type="hidden" value="@ViewBag.MemberId" />*@
    </form>
</div><br />

<table class="table">
    <tr>
        @if (string.IsNullOrEmpty(ViewBag.MemberName))
        {
            <th>
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Member.Name).ToString()), "DetailedIndex", new { typeOfVehicle = ViewBag.TypeOfVehicle, orderBy = "MemberName" }, htmlAttributes: new { title = "Sortera" })
            </th>
        }
            @if (ViewBag.TypeOfVehicle.Equals(""))
            {
                <th>
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.VehicleType).ToString()), "DetailedIndex", new { typeOfVehicle = ViewBag.TypeOfVehicle, orderBy = "TypeOfVehicle", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Sortera" })
                </th>
            }
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.RegNumber).ToString()), "DetailedIndex", new { typeOfVehicle = ViewBag.TypeOfVehicle, orderBy = "RegNumber", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Sortera" })
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Color).ToString()), "DetailedIndex", new { typeOfVehicle = ViewBag.TypeOfVehicle, orderBy = "Color", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Sortera" })
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.NoOfWheels).ToString()), "DetailedIndex", new { typeOfVehicle = ViewBag.TypeOfVehicle, orderBy = "NoOfWheels", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Sortera" })
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Brand).ToString()), "DetailedIndex", new { typeOfVehicle = ViewBag.TypeOfVehicle, orderBy = "Brand", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Sortera" })
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Model).ToString()), "DetailedIndex", new { typeOfVehicle = ViewBag.TypeOfVehicle, orderBy = "Model", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Sortera" })
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.CheckInTime).ToString()), "DetailedIndex", new { typeOfVehicle = ViewBag.TypeOfVehicle, orderBy = "CheckInTime", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Sortera" })
        </th>
        <th class="hidden-print">
            @Html.ActionLink(linkText: "Enkel fordonslista", actionName: "Index", routeValues: new { typeOfVehicle = ViewBag.TypeOfVehicle, memberId = ViewBag.MemberId, orderBy = ViewBag.orderBy }, htmlAttributes: new { title = "Klicka" })
        </th>
    </tr>
    @if (Model?.Count() > 0)
    {
            foreach (var item in Model)
            {
            <tr>
                @if (string.IsNullOrEmpty(ViewBag.MemberName))
                {
                    <td>
                        @Html.ActionLink(linkText: item.Member.Name, actionName: "DetailedIndex", controllerName: "Vehicles", routeValues: new { memberId = item.Member.Id }, htmlAttributes: new { title = "Alla fordon tillhörande " + item.Member.Name })
                    </td>
                }
                    @using Garage.Models
                    @{
                        if (ViewBag.TypeOfVehicle.Equals(""))
                        {
                            <td>
                                @if (item.VehicleType.TypeOfVehicle == TypeOfVehicle.Car)
                                {
                                    @Html.ActionLink(HttpUtility.HtmlDecode("Bil"), "DetailedIndex", new { typeOfVehicle = "Car", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Välj bil" })
                                }
                                else if (item.VehicleType.TypeOfVehicle == TypeOfVehicle.Bus)
                                {
                                    @Html.ActionLink(HttpUtility.HtmlDecode("Buss"), "DetailedIndex", new { typeOfVehicle = "Bus", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Välj buss" })
                                }
                                else if (item.VehicleType.TypeOfVehicle == TypeOfVehicle.Boat)
                                {
                                    @Html.ActionLink(HttpUtility.HtmlDecode("Båt"), "DetailedIndex", new { typeOfVehicle = "Boat", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Välj båt" })
                                }
                                else if (item.VehicleType.TypeOfVehicle == TypeOfVehicle.Airplane)
                                {
                                    @Html.ActionLink(HttpUtility.HtmlDecode("Flygplan"), "DetailedIndex", new { typeOfVehicle = "Airplane", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Välj flygplan" })
                                }
                                else if (item.VehicleType.TypeOfVehicle == TypeOfVehicle.Motorcycle)
                                {
                                    @Html.ActionLink(HttpUtility.HtmlDecode("Motorcykel"), "DetailedIndex", new { typeOfVehicle = "Motorcycle", memberId = ViewBag.MemberId }, htmlAttributes: new { title = "Välj motorcykel" })
                                }
                            </td>
                        }
                    }
                
                <td>
                    @Html.DisplayFor(modelItem => item.RegNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfWheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInTime)
                </td>
                <td class="hidden-print">
                    @Html.ActionLink("Ändra", "Edit", new { id = item.Id }, htmlAttributes: new { title = "uppgifter om " + item.RegNumber }) |
                    @Html.ActionLink("Detaljer", "Details", new { id = item.Id }, htmlAttributes: new { title = "om " + item.RegNumber }) |
                    @Html.ActionLink("Checka ut", "Delete", new { id = item.Id }, htmlAttributes: new { title = item.RegNumber })
                </td>
            </tr>
        }
    }
</table>
