@model Garage2._0.Models.Member

@{
    ViewBag.Title = "Medlemsdetaljer";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Name) <br />*@
            @Html.ActionLink(linkText: Model.Name, actionName: "Index", controllerName: "Vehicles", routeValues: new { memberId = Model.Id }, htmlAttributes: new { title = "Alla fordon tillhörande " + Model.Name })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membershipnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membershipnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        @if (Model.Vehicles.Count() > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Vehicles)
            </dt>

            <dd>
                @Model.Vehicles.Count() <text>st. med regnummer: </text><br />
                @using Garage2._0.Models
                @{
                    foreach (var vehicle in Model.Vehicles)
                    {
                        if (vehicle.VehicleType.TypeOfVehicle.ToString() == "Car")
                        {
                            <text>Bil: </text>
                        }
                        else if (vehicle.VehicleType.TypeOfVehicle == TypeOfVehicle.Bus)
                        {
                            <text>Buss: </text>
                        }
                        else if (vehicle.VehicleType.TypeOfVehicle == TypeOfVehicle.Boat)
                        {
                            <text>B&aring;t: </text>
                        }
                        else if (vehicle.VehicleType.TypeOfVehicle == TypeOfVehicle.Airplane)
                        {
                            <text>Flygplan: </text>

                        }
                        else if (vehicle.VehicleType.TypeOfVehicle == TypeOfVehicle.Motorcycle)
                        {
                            <text>Motorcykel: </text>
                        }
         
                        @Html.ActionLink(linkText: vehicle.RegNumber, actionName: "Details", controllerName: "Vehicles", routeValues: new { id = vehicle.Id }, htmlAttributes: new { title = "Fordonsdetaljer"} ) <br />
                    }
                }
            </dd>
                    }

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till ägarlistan", "Index")
</p>
