@model Garage2._0.Models.VehicleType

@{
    ViewBag.Title = "Ta bort fordonstyp";
}

<h2>@ViewBag.Title</h2>

<h3>Vill du verkligen ta bort denna fordonstyp?</h3>
<div>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfVehicle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfVehicle)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-warning" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
